.places-list {
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: flex-start;
}
.preview-place {
   width: 25%;
   margin-bottom: 40px;
   margin-right: 30px;
   border: 1px solid peru;
   border-radius: 10px 10px 2px 2px;
   background: rgba(255,255,255,0.3);
}
.preview-place__title {
   margin-bottom: 20px;
   margin-left: 20px;
   width: 80%;
}
.preview-place__image {
   height: 200px;
   width: 100%;
   margin-bottom: 15px;
   border-radius: 8px 8px 0px 0px;
}
.preview-place__link {
   text-decoration: none;
   font-size: 20px;
   color: black;
}
.preview-place__rating {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.preview-place__stars {
   margin-bottom: 15px;
}
.preview-place__rating-text {
   display: inline-flex;
   justify-content: space-between;
   margin-bottom: 15px;
   width: 35%;
}
.preview-place__delete-btn {
   cursor: pointer;
   font-size: 25px;
   margin-bottom: 12px;
}
.preview-place__photo-camera {
   font-size: 20px;
}
.preview-place__comment-svg {
   font-size: 20px;
}