.reviews {
   margin-bottom: 20px;
}
.reviews__title {
   margin-bottom: 20px;
}
.review-block {
   border: 1px solid;
   border-radius: 3px;
   padding: 10px;
   margin-bottom: 15px;
}
.review-block__header {
   display: flex;
   justify-content: space-between;
}
.review-block__review-header {
   display: flex;
   justify-content: flex-start;
   margin-bottom: 10px;
}
.review-block__reviewer {
   font-size: 10px;
}
.review-block__date {
   font-size: 10px;
   margin-right: 5px;
}
.review-block__text-review {
   margin-bottom: 15px;
}
.trashcan {
   font-size: 25px;
   cursor: pointer;
}
.trashcan:hover {
   color: red;
}