.gallery {
   margin-bottom: 20px;
}
.gallery__title {
   margin-bottom: 20px;
}
.images-list {
   display: flex;
   flex-flow: row wrap;
   overflow-y: auto;
   justify-content: flex-start;
   height: 190px;
}
.images-list__image-block {
   width: 23%;
   margin-right: 20px;
   margin-bottom: 20px;
   position: relative;
}
.images-list__image {
   height: 170px;
   width: 100%;
}
.delete-icon {
   font-size: 25px;
   color: white;
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
}
.delete-icon:hover {
   color: red;
}