.place__header {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   margin-bottom: 15px;
}
.place__header-item {
   display: flex;
   flex-direction: column;
   width: 48%;
}
.place__description {
   max-height: 250px;
   overflow: auto;
}
.place__main-photo {
   height: 300px;
   width: 48%;
}

.place__body {
   display: flex;
   flex-direction: column;
}