.header__toolbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__site-name {
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   padding: 15px;
}
.header__site-name:hover {
   background: white;
   color: black;
}

.header__list-item {
   list-style: none;
   display: inline-block;
}
.header__link {
   text-decoration: none;
   padding: 15px;
   color: white;
   font-weight: bold;
}
.header__link:hover {
   background: white;
   color: black;
}

.header__anonymous-menu {
   display: inline-block;
}

.header__user-menu {
   display: flex;
   align-items: center;
}
.header__hello-user {
   margin-left: 20px;
   color: white;
   font-weight: bold;
}
.header__logout-btn {
   margin-left: 30px;
   cursor: pointer;
   font-size: 25px;
   color: white;
}
